.nav {
    background-color: beige;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.left {
    background-color: rgb(153, 127, 127);
    height: 100px;
    justify-content: center;
    align-items: center;
}
.right {
    background-color: bisque;
    height: 100px;
    justify-content: center;
    align-items: center;
}
footer {
    background-color: rgb(220, 212, 212);
    justify-content: center;
    align-items: center;
    height: 100px; 
}
.hero-image {
    border: solid red; 
    height: 400px;
    background-image:url('../Images/pexels-muhammad-amdad-hossain.jpg')
}   
.hero-text {
    text-align: center;
    padding-top: 50px;
}
